node_modules/
dist/
*.log
.vite/
userdata/*
!userdata/mods/
userdata/mods/*
!userdata/mods/fonts/
userdata/mods/fonts/*
!userdata/mods/fonts/NanoOldSongA-Regular.ttf
!userdata/mods/fonts/ResourceHanRoundedCN-Medium.ttf
!userdata/mods/fonts/fonts.json
release/
platforms/windows/runtime/
